.Rproj.user
.Rhistory
.RData
sP/
bin/ncbi-blast-2.2.30+
bin/taxdmp
rules/.*
scripts/.*
scripts/dereplication2.py
.snakemake/log
backup/
results*
database*
test_data*
Rplots.pdf
test_data
demultiplexed/
demultiplexed/*
dag.svg
.ipynb_checkpoints*
.snakemake*
.vscode*
ToDo
Untitled.ipynb
dag2.svg
dag3.svg
dag4.svg
primer_table.csv
samples.tsv
units.tsv
already_assembled_b
test_data_backup*
snakemake_backup*
dag10*
